@using Microsoft.AspNetCore.Components.Routing

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public NavLinkMatch Match { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [CascadingParameter(Name = "IconStyle")]
    public string IconStyle { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

<li @ref="menuRef" class="nav-item @hasSubClass @openClass @hoverClass" @onmouseenter="HandleMouseEnterAsync" @onmouseleave="HandleMouseLeaveAsync" @onclick="HandleClickAsync" @onclick:stopPropagation="true">
    <ConditionalView Condition="ChildContent == null">
        <Passed>
            <NavLink href="@Url" Match="Match">
                <FrestLivicon @ref="iconRef" Icon="@Icon" Style="@IconStyle" />
                <span class="menu-title">@Title</span>
            </NavLink>
        </Passed>
        <Failed>
            <a class="cursor-pointer">
                <FrestLivicon @ref="iconRef" Icon="@Icon" Style="@IconStyle" />
                <span class="menu-title">@Title</span>
            </a>
            <ul class="menu-content">
                @ChildContent
            </ul>
        </Failed>
    </ConditionalView>
</li>

@code {
    private FrestLivicon iconRef;
    private ElementReference menuRef;
    private bool isOpen;
    private string hasSubClass, openClass, hoverClass;
}