@using Microsoft.AspNetCore.Components.Routing

@inherits BlazorMobxComponentBase<MainMenuStore>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public NavLinkMatch Match { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

<li @ref="menuRef" class="nav-item @hasSubClass @OpenClass @hoverClass" @onmouseenter="HandleMouseEnterAsync" @onmouseleave="HandleMouseLeaveAsync" @onclick="ToggleOpenAsync" @onclick:stopPropagation="true">
    <ConditionalView Condition="ChildContent == null">
        <Passed>
            <NavLink href="@Url" Match="Match">
                <FrestLivicon @ref="iconRef" Icon="@Icon" Style="@Store.IconStyle" />
                <span class="menu-title">@Title</span>
            </NavLink>
        </Passed>
        <Failed>
            <a class="cursor-pointer">
                <FrestLivicon @ref="iconRef" Icon="@Icon" Style="@Store.IconStyle" />
                <span class="menu-title">@Title</span>
            </a>
            <FrestMenuContainer>
                @ChildContent
            </FrestMenuContainer>
        </Failed>
    </ConditionalView>
</li>

@code {
    private FrestLivicon iconRef;
    private ElementReference menuRef;
    private bool isOpen;
    private string hasSubClass, hoverClass;

    private string OpenClass => isOpen && (!Store.IsCollapsed || Store.IsExpanded) ? "open" : "";
}