@using VrsekDev.Blazor.Templates.Frest.Models

@inherits LayoutComponentBase

@typeparam TNavBar
@typeparam TLogo
@typeparam TMainMenu
@typeparam TFooter

<div data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <nav class="header-navbar main-header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div id="navbar-mobile" class="navbar-collapse">
                    @NavBar()
                </div>
            </div>
        </div>
    </nav>

    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow @mainMenuExpandedClass" data-scroll-to-active="true"
         @onmouseenter="HandleMainMenuOnMouseenter" @onmouseleave="HandleMainMenuOnMouseleave">
        <div class="navbar-header @mainMenuExpandedClass">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    @Logo()
                </li>
                <li class="nav-item nav-toggle">
                    <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse" @onclick="HandleMainMenuCollapseClick">
                        <i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i>
                        <i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        @MainMenu()
    </div>

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            @Body
        </div>
    </div>

    <footer class="footer footer-static footer-light">
        @Footer()
    </footer>
</div>

@code {
    private string mainMenuExpandedClass => Store.IsCollapsed && Store.IsExpanded ? "expanded" : "";
}
